@media (min-width:680px) {

/// *******************************
//     landing-page sizing
// ********************************

    .logo {
        @include logo(6rem);
    }

    .description h2 {
    @include heading-style(3rem);
    }

    p {
        @include base-styling(1.4rem);
    }


    fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        .duration-container {
            grid-column: 1/4;
            margin: 1em 0em;
        }

        .genre-container {
            grid-column: 5/8;
            margin: 1em 0em;
        }


        .button-container {
            grid-row: 3;
            grid-column: 2/7;
            margin: 1em 0em;
        }
    
    }

    .form form {
        label {
        @include base-styling(1.2rem);
        }    
    }   

    select {
        font-size: 1.25rem;
    }

    .arrow::before{
        top: 13%;
    }
    .arrow::after{
        top: 45%;
    }

    button {
        font-size: 1.4rem;
        padding: .8em;
    }


/// *******************************
//     .dynamic-content sizing
// ********************************

    .dynamic-content {
        .wrapper{
        padding: 25px 0;
        display: grid;
        grid-template-rows: auto auto 80em;
        h3 {
            font-size: 2.5rem;
        }
        }
    }
}



@media (min-width: 800px) {
    .dynamic-content{
        .wrapper{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 4fr;
            gap: 1.2em;
            h3 {
                grid-column: 1/4;
                padding: .5em;
            }

            img {
                grid-row: 2/4;
            }
            p {
                line-height: 1.25rem;
            }
        }

    }

    // .description-container {
    //     display: flex;
    //     justify-content: space-between;
    //     .description-text-container {
    //         width: 80%;
    //     }

    //     .description-image-container {
    //         width: 60%;
    //         display: flex;
    //         img{
    //             align-self: center;
    //         }
    //     }
    // }
}