$font-logo: 'Bungee Shade', cursive;
$heading-logo: 'Bungee', cursive;
$basefont: 'Montserrat', sans-serif;

@mixin logo ($size) {
    font-family: $font-logo;
    font-size: ($size);
    padding: 2rem 0;
}

@mixin heading-style ($size) {
    font-family: $heading-logo;
    text-transform: uppercase;
    font-size: ($size);
    margin: 2rem 0;
}

@mixin base-styling ($size){
    font-family: $basefont;
    font-size: ($size);
}

@mixin wrapper ($width){
    max-width: 1200px;
    width: ($width);
    margin: 0 auto;
}