@import 'setup';
@import 'mixins-variables';


// *******************************
//         general styling
// *******************************

p {
    @include base-styling(1.2rem);
    letter-spacing: 1px;
}

.wrapper {
    @include wrapper(90%);
}

body {
    font-size: 62.5%;
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul, 
li, 
a, 
p, 
h2, 
h1,
h3 {
    margin: 0;
    padding: 0;
    color: #F7FCFE;
}

// consider turning above into mixins

body {
    background: rgb(10,35,81);
    background: linear-gradient(144deg, rgba(10,35,81,1) 0%, rgba(0,128,128,1) 100%); 
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/// *******************************
//         header styling
// ********************************

.logo {
    @include logo(4rem);

    text-align: center;
    background: linear-gradient(to right, #30CFD0 0%, #0c0661 100%);
	-webkit-background-clip: text;
    background-clip: none;
	-webkit-text-fill-color: transparent;
    // background-image: linear-gradient(to bottom,rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(./assets/film-reel.webp);
    // try to make this a gradient???
    
}

header {
    background: #F7FCFE;
}


/// *******************************
//         heading styling
// ********************************

.description h2 {
    @include heading-style(2rem);
    text-align: center;
    color:#06397c;
    background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
    opacity: 0.9;
}

h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: $heading-logo;
}

// *******************************
//         description styling
// ********************************

// .description {

// }

// *******************************
//         form styling
// ********************************

.form form {
    margin-top: 30px;
    background-color: #a8c4cf;
    border: none;
    fieldset {
        border: none;
    }
}

.select {
    padding: 12px 30px;
    // border: 1.5px solid transparent;
    // border-radius: 8px;
    cursor: pointer;
    // appearance: none;
    option {
        background: #EBEDEE;
    }
    i {
        font-size: 20px;
        color: #0c0661;
    }
}

// .select:hover,
// .select:focus {
//     // border: 1.5px solid rgb(43, 42, 42);
// }

button {
    margin: 10px;
}

/// *******************************
//     .dynamic-content styling
// ********************************

.dynamic-content {
    .wrapper{
        padding: 25px 0;
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        h3 {
            grid-row: 1;
            text-align: center;
        }
        p {
            grid-row: 2;
        }
        img {
            grid-row: 3;
            box-shadow: 0 0 15px 5px  #0ff;
        }
    }
}

// on mobile, display in following order
// title, overview, poster
// stack vertically with a grid
// style h3
// resize img