@import 'setup';
@import 'mixins-variables';


// *******************************
//         general styling
// *******************************

p {
    @include base-styling(1.2rem);
}

.wrapper {
    @include wrapper(90%);
}

body {
    font-size: 62.5%;
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul, 
li, 
a, 
p, 
h2, 
h1,
h3 {
    margin: 0;
    padding: 0;
    color: rgb(240, 230, 211);
}

// consider turning above into mixins

body {
    background: rgb(10,35,81);
    background: linear-gradient(144deg, rgba(10,35,81,1) 0%, rgba(0,128,128,1) 100%); 
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/// *******************************
//         header styling
// ********************************

.logo {
    @include logo(4rem);
    text-align: center;
    color: black;
    // try to make this a gradient???
    
}

header {
    background-color: ivory;
}


/// *******************************
//         heading styling
// ********************************

.description h2 {
    @include heading-style(2rem);
    text-align: center;
}

h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: $heading-logo;
}

/// *******************************
//         form styling
// ********************************


// form {
//     display: grid;
// }

form {
    background-color: burlywood;
}

/// *******************************
//         .dynamic styling
// ********************************



.dynamic-content {
    .wrapper{
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        h3 {
            grid-row: 1;
            text-align: center;
        }
        p {
            grid-row: 2;
        }
        img {
            grid-row: 3;
        }
    }
}

// on mobile, display in following order
// title, overview, poster
// stack vertically with a grid
// style h3
// resize img




/// *******************************
//         footer styling
// ********************************


.tmdb-logo { 
    width: 50px;
    height: 50px;
}